/* CSS reset */
*{
    box-sizing: border-box;
}
body {
    color: white;
    margin: 0px;
    padding: 0px;
    background: url(../imgs/girl_body.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Kanit', sans-serif;
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 50px;
}

.left div{
    line-height: 19px;
    font-size: 24px;
    text-align: center;
}
.mid {
    display: block;
    width: 50%;
    margin: 20px auto;
    /* border: 2px solid yellow; */
}

.right {
    /* border: 2px solid lightgreen; */
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 34px;

}
.navbar{
    display: inline-block;
    /* margin: 5px 323px;
    padding: 5px; */
}
.navbar li{
    display: inline-block;
    font-size: 20px;
    /* margin: 10px; */
   
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 12px 27px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: white;
    background-color: rgba(207, 17, 17, 0.796);
    border-radius: 15px;
}
.left img{
    display: block;
    width: 50%;
    margin: 10px auto;
    width: 100px;
    
}
.btn{
    margin: 0px 9px;
    background-color: rgba(207, 17, 17, 0.796);
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
}

.btn:hover{
    background-color: bisque;
    color: black;
}
.container{
    border: 2px solid rgba(207, 17, 17, 0.796);
    margin: 172px 1100px;
    padding: 67px 70px;
    width: 33%;
    border-radius: 10px;
}
.container div{
    display: inline-block;
    /* width: 20%; */
}
.form-group input{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    display: block;
    width: 350px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 7px auto;
    padding: 5px;
}
.container button{
    display: block;
    width: auto;
    padding: 8px 28px;
    margin: 20px auto;
}