//- index.pug
doctype html
html
  head
    title DoctorMAD's Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar 
      ul
        div#logo
            img(src="../static/logo.png", alt="", srcset="")
        li #[a(href="/") Home ]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info ]
        li #[a(href="/") Contact Us]

    section#introSection 
        div Welcome to D-MAD's Dance Academy
        div.secondDiv Learn Salsa, Bollywood, Jazz and more...

    section#missionSection 
        h2 Dance Forms
        div 
            div.card 
                h3 Hip-Hop
                div.card-box
                    div.card-img
                        img(src="../static/1.png")
            div.card 
                h3 Contemporary
                div.card-box
                    div.card-img
                        img(src="../static/2.png")
            div.card 
                h3 Salsa
                div.card-box
                    div.card-img
                        img(src="../static/3.png")
    
    section#sponserSection 
        h2 Our Pricing
        div#sponsors
            div.spprice
                h3 Beginner
                h4 Rs. 10000/Year
            div.spprice
                h3 Intermediate
                h4 Rs. 15000/Year
            div.spprice
                h3 Master
                h4 Rs. 20000/Year
    footer#footer 
        |Copyright 2023 D-MADDanceAcademy.com
    script
      include ../static/index.js